[Unit]
Description=Muchsync Service (oneshot)

[Service]
Type=oneshot
ExecStart=/usr/bin/muchsync -r /usr/bin/muchsync leonard@freiburg 
TimeoutSec=10m

[Install]
WantedBy=default.target
