[user]
	email = leonard@lausen.nl
	name = Leonard Lausen
	attributesfile = ~/.gitattributes_global
[receive]
	denyCurrentBranch = updateInstead
[rebase]
	autosquash = true
[filter "nbstrip_full"]  # via http://timstaley.co.uk/posts/making-git-and-jupyter-notebooks-play-nice/
	clean = "jq --indent 1 \
          '(.cells[] | select(has(\"outputs\")) | .outputs) = []  \
          | (.cells[] | select(has(\"execution_count\")) | .execution_count) = null  \
          | .metadata = {\"language_info\": {\"name\": \"python\", \"pygments_lexer\": \"ipython3\"}} \
          | .cells[].metadata = {} \
          '"
	smudge = cat
	required = true
[github]
	user = leezu
[rerere]
	enabled = true
[core]
	hooksPath = ~/.githooks
