[submodule "shell/.shell/zsh-syntax-highlighting"]
	path = shell/.shell/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "shell/.shell/zsh-history-substring-search"]
	path = shell/.shell/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "shell/.shell/tmux-xpanes"]
	path = shell/.shell/tmux-xpanes
	url = https://github.com/greymd/tmux-xpanes.git
