[Unit]
Description=rss2email

[Service]
Type=oneshot
ExecStart=/home/leonard/.local/bin/r2e run
TimeoutStopSec=300

[Install]
WantedBy=default.target

